$color-primary: #fa4a0c;
$color-secondary: #f6f6f6;
$color-tertiary: #252b42;

$color-gray: #737373;

$color-black: #000;
$color-white: #fff;

// font

$font-Montserrat: "Montserrat", sans-serif;
$font-lato: "Lato", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;
