.footer__section {
  @include flex {
    justify-content: space-between;
    align-items: center;
  }

  padding: 0 6rem;

  @include responsive(tab-port) {
    padding: 0 3rem;
  }
  @include responsive(mobile) {
    padding: 2rem 3rem;
  }

  @include responsive(mobile) {
    flex-direction: column;
    justify-content: space-evenly;
  }

  &-logo {
    img {
      width: 18vw;

      @include responsive(tab-port) {
        width: 30vw;
      }
      @include responsive(mobile) {
        width: 50vw;
      }
    }
  }

  &-media {
    div img {
      width: 2.5vw;

      @include responsive(tab-port) {
        width: 3.5vw;
      }
      @include responsive(mobile) {
        width: 6.5vw;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &-copyright {
    color: $color-copyright;

    @include responsive(mobile) {
      margin: 2rem 0;
    }
  }
}
