.hero__container {
  height: calc(100vh - 102px);
  width: 100%;
  background-image: url(../../images/header-bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;

  @include responsive(tab-port) {
    height: 45vh;
  }

  @include responsive(mobile) {
    height: fit-content;
  }

  &-content {
    text-align: center;
    padding: 4.5rem 3rem 0;
    color: $color-white;

    @include responsive(mobile) {
      padding-bottom: 4rem;
    }

    span {
      color: $color-secondary;
      animation-name: moveLeftToRight;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      display: block;
    }

    h1 {
      margin: 1rem 0;
      animation-name: moveRightToLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in;
    }
    p {
      color: $color-secondary;
      margin-bottom: 2rem;
      animation-name: zoomIn;
      animation-duration: 2s;
      animation-timing-function: ease-in;
    }

    &-btns {
      animation-name: moveBottomToTop;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      a {
        border-radius: 36px;

        @include responsive(mobile) {
          padding: 1rem 2rem;
        }
      }
      a:last-child {
        margin-left: 2.4rem;

        @include responsive(mobile) {
          margin-left: 1rem;
        }

        &:hover {
          background-color: $color-primary;
          border: 1px solid $color-primary;
          transition: all 1s;
        }
      }
    }
  }
}
