.header__mobile-section {
  position: relative;
  width: 100%;
  z-index: 1000;

  &-container {
    margin-right: 90px;

    @media screen and (max-width: 300px) {
      margin-right: 40px;
    }

    &-img-1,
    &-img-2 {
      position: relative;
      z-index: 2000;
      margin-top: -300px;

      @include responsive(mobile) {
        margin-top: -130px;
      }

      img {
        width: 100%;
      }
    }

    &-img-1 {
      margin-right: -230px;

      @include responsive(mobile) {
        margin-right: -120px;
      }
    }

    &-img-2 {
      img {
        margin-top: 140px;
        @include responsive(mobile) {
          margin-top: 20px;
        }
      }
    }
  }

  &-hr {
    width: 50%;
    margin: 0 auto;
    color: #e4e4e4;
  }
}
