.navbar {
  &__nav a {
    font-family: $font-Montserrat;
    font-weight: 600;
  }

  &__icon {
    &-mobile-menu a {
      font-family: $font-Montserrat;
      font-size: 1rem;
    }
  }
}

// hero section
.hero__container {
  &-content {
    span {
      font-family: $font-Montserrat;
      font-size: 1.2vw;
      font-weight: 700;

      @include responsive(tab-port) {
        font-size: 1.8vw;
      }

      @include responsive(mobile) {
        font-size: 3vw;
      }
    }

    h1 {
      font-family: $font-poppins;
      font-weight: 700;
      font-size: 3vw;

      @include responsive(tab-port) {
        font-size: 4vw;
      }

      @include responsive(mobile) {
        font-size: 6vw;
      }
    }

    p {
      font-family: $font-Montserrat;
      font-weight: 500;
      font-size: 1.2vw;
      letter-spacing: 0.2px;

      @include responsive(tab-port) {
        font-size: 1.8vw;
      }

      @include responsive(mobile) {
        font-size: 3vw;
      }
    }

    &-btns {
      a {
        font-size: 1.3vw;

        @include responsive(tab-port) {
          font-size: 1.7vw;
        }

        @include responsive(mobile) {
          font-size: 2.8vw;
        }
      }
    }
  }
}

// main app work

.main__app-work {
  &-heading {
    font-size: 2.3vw;
    font-family: $font-poppins;
    font-weight: 600;

    @include responsive(tab-port) {
      font-size: 3.5vw;
    }
    @include responsive(mobile) {
      font-size: 6vw;
    }
  }

  &-container {
    &-content {
      @include responsive(tab-port) {
        margin-bottom: 5rem;
      }
      span {
        font-family: $font-Montserrat;
        font-weight: 700;
        font-size: 1.2vw;

        @include responsive(tab-port) {
          font-size: 2.5vw;
        }

        @include responsive(mobile) {
          font-size: 3.5vw;
        }
      }

      h1 {
        font-family: $font-Montserrat;
        font-weight: 700;
        font-size: 2.5vw;

        @include responsive(tab-port) {
          font-size: 4vw;
        }

        @include responsive(mobile) {
          font-size: 5vw;
        }
      }

      p {
        font-family: $font-Montserrat;
        font-weight: 500;
        font-size: 1.5vw;

        @include responsive(tab-port) {
          font-size: 2vw;
        }
        @include responsive(mobile) {
          font-size: 3vw;
        }
      }
    }
  }
}

// main download section

.main__download-section {
  &-heading {
    font-family: $font-Montserrat;
    font-weight: 700;
    font-size: 2.5vw;

    @include responsive(tab-port) {
      font-size: 3.5vw;
    }
    @include responsive(mobile) {
      font-size: 6vw;
    }
  }

  p {
    font-family: $font-Montserrat;
    font-weight: 500;
    font-size: 1.2vw;
    letter-spacing: 0.2px;

    @include responsive(tab-port) {
      font-size: 1.8vw;
    }
    @include responsive(mobile) {
      font-size: 2.5vw;
    }
  }

  .btns {
    a {
      @include responsive(mobile) {
        font-size: 3.5vw;
      }
    }
  }
}

// footer section

.footer__section {
  &-copyright {
    font-family: $font-roboto;
    font-size: 1.2vw;

    @include responsive(tab-port) {
      font-size: 1.8vw;
    }

    @include responsive(mobile) {
      font-size: 3vw;
    }
  }
}
