header {
  width: 100%;
  height: fit-content;
  position: relative;
  z-index: -100;
}

main {
  width: 100%;
  overflow: hidden;
}

footer {
  min-height: 200px;
  @include flex {
    justify-content: space-between;
    align-items: center;
  }
}
